cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-a"
image_id                 = "image_id"
public_key_path          = "~/.ssh/alex.pub"
subnet_id                = "subnet_id"
service_account_key_file = "key.json"
app_count                = 2
private_key_path         = "~/.ssh/alex"
app_disk_image           = "wer"
db_disk_image            = "rew"
need_app_deploy          = true
bucket_name              = "1"
access_key               = "2"
secret_key               = "3"
